/__pycache__/

/simple-pfnn-master/
/Project/
/Motion-Matching-main/
/FinalProject/
/DeepMimic/

Motion_cotrol.md
exp.py

/instance/

*.zip
*.7z
*.rar

.env
.env.local
.flaskenv

.vscode/
.idea/
.DS_Store
Thumbs.db